body {
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    
}

.navbar {
    background-color: #1f2937;
    position: fixed;
    top:0;
    width: 100%
}

#indexlogo {
    height: 60px;
    width:auto;
    margin-left: 20px;
}

.buttons {
    margin-right: 20px;
    
}

.links {
    text-decoration: none;
    color: white;
    width: 75px;
    padding-top: 23px;
    padding-bottom: 23px;
    display: block;
    float: right;
    text-align: center;
}

.links:hover {
    background: #425776;
    font-weight:bold;
}

.container1 {
    display: flex;
    background-image: url('regice.png');
    background-attachment: fixed;
    background-size: cover;
    justify-content: center;
    max-width:inherit;
}

.c1 {
    
    display: flex;
    margin:  100px 100px;
    border:5px solid #1f2937 ;
    padding: 50px 30px;
    justify-content: space-around;
}

.c1left { 
    flex: 2;
}

.c1right {
    flex: 1;
}

#kyurem {
height: 300px;
border: 5px solid #1f2937;
padding: 10px;
}

.heading1 {
    font-size: 48px;
    font-weight: bolder;
    color: white;

}

.sheading1 {
    font-size: 18px;
    color: whitesmoke;

}