body {
    margin: 0px;
    font-family:Arial, Helvetica, sans-serif;
    background-color: #1f2937;
}

.navbar {
    background-color: #1f2937;
    position: fixed;
    top:0;
    width: 100%
}

#indexlogo {
    height: 60px;
    width:auto;
    margin-left: 20px;
}

.buttons {
    margin-right: 20px;
    
}

.links {
    text-decoration: none;
    color: white;
    width: 75px;
    padding-top: 23px;
    padding-bottom: 23px;
    display: block;
    float: right;
    text-align: center;
}

.links:hover {
    background: #425776;
    font-weight:bold;
}



.container1 {
    display: flex;
    background-image: url('regice.png');
    background-size: cover;
    background-attachment: fixed;
    padding: 90px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 60px;
    background-position-x: center;
    background-position-y: 65px;
}

.c1 {
    display: flex;
    border:5px solid #1f2937 ;
    justify-content: space-around;
    padding: 30px;
    gap: 20px;
    flex-wrap: wrap-reverse;

}

.c1left { 
    flex: 6;
}

.startbutton{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.start {
    text-decoration: none;
    color: white;
    width: max-content;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    background-color: #1f2937;
    display: flex;
    border-radius: 30px;

}

.start:hover {
    background: #789ed6;
    font-weight:bold;
}

.c1right {
    flex: 4;
    display: flex;
    justify-content: center;
}

#kyurem {
height: 300px;
border: 5px solid #1f2937;
padding: 10px;
}

.heading1 {
    font-size: 48px;
    font-weight: bolder;
    color: white;

}

.sheading1 {
    font-size: 18px;
    color: whitesmoke;
    padding-top: 10px;
}

.container2 {
    background-color: #789ed6;
    background-size: contain;
    padding: 70px;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    color: #1f2937;
}

.icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1;
    gap: 30px;
    padding: 100px 20px;
    border: 5px solid #1f2937;
    margin: 50px;
    margin-top: 30px;
    margin-bottom: 20px;
    
}

#icon1, #icon2, #icon3, #icon4 {
    border: 5px solid #1f2937;
    height: fit-content;
    width: 100px;
    text-align: center;
    background-color: #425776;
    font-size: 18px;
    font-weight: 100;
}

#icon1:hover, #icon2:hover, #icon3:hover, #icon4:hover {
    border: 5px solid #425776;
    background-color: white;
}

a:link {
    text-decoration: none;
}

a {
    color:white;
}

a:hover {
    color: #1f2937;

}
